.container{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650px;

}

.item {
    background-color: lemonchiffon; 
    color: black;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}
.Thing1{
    background-color: purple;
}

.Thing2{
    background-color: rgb(255, 111, 210);
}

.Thing6{
    background-color: rgb(255, 159, 215);
}

.Thing9{
    background-color: rgb(251, 192, 251);
}

.Thing8{
    background-color: blue;
}

.Thing4{
    background-color: palevioletred;
}

.Thing5{
    background-color: darkorchid;
}

.Thing10{
    background-color: rgb(255, 216, 244);
}

.Thing3{
    background-color: rgb(255, 255, 56);
}