.container{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    height: 650px;

}

.item {
    background-color: lemonchiffon; 
    color: black;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
}
.Thing1{
    background-color: purple;
}

.Thing2{
    background-color: lightgreen;
}

.Thing6{
    background-color: aquamarine;
}

.Thing9{
    background-color: red;
}

.Thing8{
    background-color: blue;
}

.Thing4{
    background-color: palevioletred;
}

.Thing5{
    background-color: darkorchid;
}